.isCompleted {
    text-decoration: line-through;
    color: #eee;
    transition: all 0.5s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.filterTodos {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}