body {
    background-color: #eee;
}

.isCompleted {
    text-decoration: line-through;
    color: #eee;
    transition: all 0.5s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    text-align: right;
}

.select {
    position: relative;
    overflow: hidden;
    width: 15%;
}

select {
    color: rgb(31, 3, 3);
    width: 100%;   
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: rgba(165, 42, 42, 0.192);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: rgb(150, 255, 220);
    color:rgb(26, 4, 4)
}
